<!DOCTYPE html>
<html>
<head>
  <title>Price Index Choropleth</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= yield %>

	<%= form_tag("#", method: "get") do %>
	  <%= label_tag(:year) %>
	  <%= text_field_tag(:year) %>
	  <%= submit_tag("Go") %>
	<% end %>




</body>
</html>

